.container{
  background-color: rgb(7, 123, 123);
  height: 100vh;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.optionBtn{
  display: flex;
  gap: 1rem;
}